---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Cirugía de cabeza y cuello">

    <main class="max-w-screen-md mx-auto p-4">

        <figure>
            <img 
            src="../img/cirugia_de_cabeza.webp" 
            alt="maquina de escribir"
            class="w-full h-[250px] aspect-auto sm:h-[450px] sm:object-fill mx-auto rounded-lg shadow-2xl hover:opacity-75 entrada_img"
            >
        </figure>
        <div>
            <h1 class="text-primary text-3xl font-bold sm:text-5xl mt-8 mb-2 entrada_text2 italic">Cirugía de cabeza y cuello</h1>
            <span class="text-[10px] sm:text-sm text-info bg-primary px-2 py-1 rounded-lg shadow-lg mx-2 my-3">Fondo Editorial CIB</span>
            <p class="w-full mt-2 text-xl text-black text-justify mx-2 my-4">
                Dirigido a estudiantes de medicina y residentes en formación, médicos y especialistas, este libro es una guía práctica y actualizada para comprender y abordar las condiciones clínicas más relevantes en cirugía de cabeza y cuello. Escrito por cirujanos colombianos, <span id="italica">Cirugía cabeza y cuello</span> combina conocimientos teóricos con estrategias diagnósticas y terapéuticas adaptadas a las necesidades y realidades del entorno local. <br>
                <tab></tab>El libro tiene un enfoque claro y didáctico y abarca desde las enfermedades benignas más frecuentes hasta los tumores malignos más complejos, así como también proporciona herramientas para un uso práctico. Su estructura incluye tablas, figuras y algoritmos, con recomendaciones basadas en evidencia, que facilitan la comprensión y aplicabilidad en contextos reales. <br>
                <tab></tab>Pretende servir a los médicos en práctica y a los futuros profesionales a entender en profundidad la patología del área cervicofacial y enfrentarla con un criterio de racionalidad en el uso de los recursos frente a los desafíos de los sistemas de salud en Latinoamérica, sin perder de vista los estándares internacionales. <br>
                <tab></tab>De este modo, es un texto que forma, orienta y podría convertirse en un compañero invaluable durante la etapa formativa. Además, reafirma el compromiso de la comunidad médica con la excelencia en el cuidado de los pacientes.                
            </p>
            <p class="text-right text-sm text-gray-800">
                ÁLVARO E. SANABRIA Q. <br>
                Editor académico                
            </p>
        </div>

        <div class="flex gap-5">
            <a href="/"
            class="text-white bg-primary hover:text-veig backdrop-blur-lg bg-gradient-to-tr from-transparent via-[rgba(121,121,121,0.16)] to-transparent rounded-md py-2 px-6 shadow hover:shadow-black duration-700"
            >
                Regresar
            </a>
        </div>


    </main>
    
</Layout>


<style>

.entrada_img {
	animation: entrada_img 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


 @keyframes entrada_img {
  0% {
    transform: scale(1.5);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}

</style>
