---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Polémicas de ayer, necesidades del mañana: retos y perspectiva de la reducción de daños en Antioquia – Colombia">

    <main class="max-w-screen-md mx-auto p-4">

        <figure>
            <img 
            src="../img/polemicas.webp" 
            alt="polemica de ayer."
            class="w-full h-[250px] aspect-auto sm:h-[450px] sm:object-fill mx-auto rounded-lg shadow-2xl hover:opacity-75 entrada_img"
            >
        </figure>
        <div>
            <h1 class="text-primary text-3xl font-bold sm:text-5xl mt-8 mb-2 entrada_text2">Polémicas de ayer, necesidades del mañana: retos y perspectiva de la reducción de daños en Antioquia – Colombia</h1>
            <span class="text-[10px] sm:text-sm text-info bg-primary px-2 py-1 rounded-lg shadow-lg mx-2 my-3">Fondo Editorial CIB</span>
            <p class="w-full mt-2 text-xl text-black text-justify mx-2 my-4">
                El libro científico Polémicas de ayer, necesidades del mañana: retos y perspectiva de la reducción de daños en Antioquia – Colombia es el resultado de un proceso de investigación en torno a la Reducción del Daño (RD) en Antioquia desarrollado en tres fases, que se llevaron a cabo desde 2020 hasta 2023. Las investigaciones se realizaron con investigadoras de la Escuela Contra la Drogadicción y en convenios con la Universidad CES, Universidad San Buenaventura y ASCODES, con la participación de epidemiólogos, médicos, sociólogos y antropólogos, transitando hacia un enfoque biopsicosocial donde se tienen en consideración las diversas esferas que atañen al comportamiento en relación con el consumo problemático de sustancias psicoactivas (SPA). De esta manera, se fundamentó una guía metodológica para la intervención en temas relativos a la RD en Antioquia. 
                Mediante este libro, se abordan retos y perspectivas de la RD asociados al consumo de SPA en el Departamento de Antioquia en la contemporaneidad, para lo cual se abordan temáticas tales como bases teóricas y metodológicas para el estudio, análisis e intervención de la RD, se incorpora un análisis de las políticas públicas y postura de los organismos supranacionales frente a la RD. También, se integra un capítulo acerca de las percepciones y recomendaciones respecto a la implementación de estrategias y la evaluación del impacto de las mismas; por último, se presenta un panorama estadístico frente al consumo de SPA en Antioquia y sus subregiones. 
                ELLS NATALIA GALEANO GARCÍA 
                GUILLERMO A. CASTAÑO PÉREZ
            </p>
        </div>
        

        <div class="flex gap-5">
            <a href="/"
            class="text-white bg-primary hover:text-veig backdrop-blur-lg bg-gradient-to-tr from-transparent via-[rgba(121,121,121,0.16)] to-transparent rounded-md py-2 px-6 shadow hover:shadow-black duration-700"
            >
                Regresar
            </a>
        </div>


    </main>
    
</Layout>


<style>

.entrada_img {
	animation: entrada_img 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


 @keyframes entrada_img {
  0% {
    transform: scale(1.5);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}

</style>
