---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="La Responsabilidad Social (RS), un hecho cultural del siglo XXI">

    <main class="max-w-screen-md mx-auto p-4">

        <figure>
            <img 
            src="../img/rsu.webp" 
            alt="rsu."
            class="w-full h-[250px] aspect-auto sm:h-[450px] sm:object-fill mx-auto rounded-lg shadow-2xl hover:opacity-75 entrada_img"
            >
        </figure>
        
        <div>
            <h1 class="text-primary text-3xl font-bold sm:text-5xl mt-8 mb-2 entrada_text2 italic">La Responsabilidad Social (RS), un hecho cultural del siglo XXI</h1>
            <span class="text-[10px] sm:text-sm text-info bg-primary px-2 py-1 rounded-lg shadow-lg mx-2 my-3">Fondo Editorial CIB</span>
            <p class="w-full mt-2 text-xl text-black text-justify mx-2 my-4">
                Un análisis reflexivo del siglo XXI permite caracterizarlo como el siglo de la responsabilidad compartida en relación con el cuidado de la vida, vida en el límite en todos sus niveles, tanto en el caso de los seres humanos frente a los riesgos que amenazan su salud, su libertad y sus posibilidades de supervivencia, igualmente en lo relativo a la violencia y a los obstáculos en la convivencia entre países y culturas, así como también en los desequilibrios que deterioran fuertemente la vida en el planeta, entendido no como escenario de confrontación (mercado global o intereses hegemónicos), sino como casa común. Del mismo modo que el siglo XX, “siglo de la ciencia”, había sido marcado por el papel decisivo y determinante de la ciencia y la tecnología y por el poder que estas pusieron a disposición de los humanos, los avances de las primeras décadas muestran que el presente siglo está signado por la exigencia de la responsabilidad en el uso de dicho poder y la necesidad de una gestión prudente —aunque audaz y disruptiva— de las posibilidades abiertas para la aplicación del conocimiento en favor de la vida.
            </p>
            <p class="text-right text-sm text-gray-800">
                VÍCTOR MARTIN-FIORINO<br>
                Ph. D. en Filosofía, Universidad Católica De Lovaina
            </p>
        </div>

        <!-- seccion de prueba para las fotos -->
        <div class="flex overflow-x-scroll overflow-y-hidden py-5 px-3 gap-4 my-2 md:justify-around" style="scrollbar-color: #593f2f transparent;">

            <div
            class="flex-1 md:flex-none service-card min-w-[200px] w-[250px] h-[230px] md:h-[300px] rounded-md shadow-xl cursor-pointer"
            >
            <img src="../img/rsu4.webp" 
            alt="alter"
            class="w-full h-full object-fill img_modal"
            >

            </div>
        
            <div
            class="flex-1 md:flex-none service-card min-w-[200px] w-[250px] h-[230px] md:h-[300px] rounded-md shadow-xl cursor-pointer"
            >
            <img src="../img/rsu1.webp" 
            alt="alter"
            class="w-full h-full object-fill img_modal"
            >

            </div>

            <div
            class="flex-1 md:flex-none service-card min-w-[200px] w-[250px] h-[230px] md:h-[300px] rounded-md shadow-xl cursor-pointer"
            >
            <img src="../img/rsu2.webp" 
            alt="alter"
            class="w-full h-full object-fill img_modal"
            >

            </div>

            <div
            class="flex-1 md:flex-none service-card min-w-[200px] w-[250px] h-[230px] md:h-[300px] rounded-md shadow-xl cursor-pointer"
            >
            <img src="../img/rsu3.webp" 
            alt="alter"
            class="w-full h-full object-fill img_modal"
            >

            </div>

            <div
            class="flex-1 md:flex-none service-card min-w-[200px] w-[250px] h-[230px] md:h-[300px] rounded-md shadow-xl cursor-pointer"
            >
            <img src="../img/rsu5.webp" 
            alt="alter"
            class="w-full h-full object-fill img_modal"
            >

            </div>
  
    
        </div>

        <div class="flex gap-5">
            <a href="/"
            class="text-white bg-primary hover:text-veig backdrop-blur-lg bg-gradient-to-tr from-transparent via-[rgba(121,121,121,0.16)] to-transparent rounded-md py-2 px-6 shadow hover:shadow-black duration-700"
            >
                Regresar
            </a>
        </div>


    </main>

    <!-- Modal -->
    <div id="imageModal" class="fixed inset-0 bg-black hidden bg-opacity-75 items-center justify-center">
        <div class="relative">
            <img id="modalImage" src="" alt="Imagen ampliada" class="h-[650px] rounded-lg shadow-2xl py-10">
            <button class="absolute right-4 top-10 text-black text-4xl z-10 font-bold">&times;</button>
        </div>
    </div>

    <script>
        const modal = document.querySelector('#imageModal');
        const modalImage = document.getElementById('modalImage');
        const images = document.querySelectorAll('.img_modal');

        images.forEach(image => {       
            image.addEventListener('click', () => {
                let img = image.attributes.getNamedItem('src')?.value || "";
                modalImage?.setAttribute('src', img);
                modal?.classList.remove('hidden');
                modal?.classList.add('flex');
            });
        });

        modal?.addEventListener('click', () => {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        });
    </script>
    
</Layout>


<style>

.entrada_img {
	animation: entrada_img 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


 @keyframes entrada_img {
  0% {
    transform: scale(1.5);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}

</style>
