---
import Layout from "@/layouts/Layout.astro";
---


<Layout title="404 | Portafolio Sebastían Alvarez Diaz | Editor y corrector de estilos">

  <div class="grid h-screen place-content-center px-4">
    <div class="text-center">
      <h1 class="text-9xl font-black text-primary">404</h1>
  
      <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Uh-oh!</p>
  
      <p class="mt-4 text-gray-500">Lo sentimos, esta pagina no existe.</p>
  
      <a
        href="/"
        class="mt-6 inline-block rounded bg-primary border border-veig px-5 py-3 text-sm font-medium text-white hover:bg-info hover:border-veig hover:text-primary focus:outline-none focus:ring"
      >
        Regresar al inicio.
      </a>
    </div>
  </div>
  
</Layout>
