---

---

<section class="relative h-[650px] md:h-[550px]" id="inicio">
  <div
    class="absolute inset-0 bg-black/45 sm:from-white/95 sm:to-black/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <img src="/img/cafe.jpg"
    class="absolute m-0 p-0 -z-10 left-0 h-full w-full object-cover"
  ></img>

  <div
    class="relative block md:flex justify-around mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-full lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center sm:text-start ltr:sm:text-left rtl:sm:text-right flex flex-col justify-center mx-auto my-2 md:m-0 entrada_text">
      <h1 class="text-4xl font-extrabold sm:text-5xl text-primary">Sebastián Álvarez Díaz
      </h1>

      <p class="mt-4 text-xl/relaxed sm:text-3xl max-w-lg font-semibold text-veig">
        Editor y corrector de estilo      
      </p>

      <div class="flex items-center gap-2 mx-auto py-2 sm:m-0">

        <div class="group relative inline-block">

          <a 
          target="_blank"
          href="https://www.linkedin.com/in/sebastian-alvarez-diaz/" 
          class="focus:outline-none">
    
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin w-8 sm:w-12 hover:scale-110" viewBox="0 0 24 24" stroke-width="2" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
              <path d="M8 11l0 5" />
              <path d="M8 8l0 .01" />
              <path d="M12 16l0 -5" />
              <path d="M16 16v-3a2 2 0 0 0 -4 0" />
            </svg>
    
          </a>
          <a 
          target="_blank"
          href="https://www.linkedin.com/in/sebastian-alvarez-diaz/"
          class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 z-20 px-4 py-2 text-sm font-bold text-white bg-primary rounded-lg shadow-lg transition-transform duration-300 ease-in-out scale-0 group-hover:scale-75 sm:group-hover:scale-100"
            >Linkedin
          </a>
        </div>


        <div class="group relative inline-block">

          <a href="mailto:sebastian.alvarez.diaz@outlook.com" class="focus:outline-none">
    
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail hover:scale-110 w-8 sm:w-12"  viewBox="0 0 24 24" stroke-width="2" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
              <path d="M3 7l9 6l9 -6" />
            </svg>
    
          </a>
          <a href="mailto:sebastian.alvarez.diaz@outlook.com"
            class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 z-20 px-4 py-2 text-sm font-bold text-white bg-primary rounded-lg shadow-lg transition-transform duration-300 ease-in-out scale-0 group-hover:scale-75 sm:group-hover:scale-100"
            >sebastian.alvarez.diaz@outlook.com
        </a>
        </div>


        <a href="./Hoja_de_vida_Sebastián_Álvarez_Díaz.pdf"
        target="_blank"
          class="group flex items-center justify-start w-36 h-10 bg-primary rounded-md cursor-pointer relative overflow-hidden transition-all duration-700 shadow-lg hover:translate-x-2"
        >
          <div
            class="flex items-center justify-center w-full transition-all duration-300 group-hover:justify-start group-hover:px-3"
          >
            <svg class="w-4 h-4" viewBox="0 0 512 512" fill="white">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
              ></path>
            </svg>
          </div>
          <div
            class="absolute right-5 transform translate-x-full opacity-0 text-white text-sm font-semibold transition-all duration-400 group-hover:translate-x-0 group-hover:opacity-100"
          >
            Descargar CV
          </div>
        </a>

    
      </div>

    </div>

    <figure class="figure">
      <img src="img/sebas.webp" class="w-[200px] md:w-[250px] m-auto bg-info">

    </figure>
    

  </div>
</section>

<style>
  h1{
    text-shadow: 2px 2px 2px #0d0d0d;
  }
  .figure img{
    border-radius: 36% 64% 51% 49% / 48% 34% 66% 52% ;
    transition: border-radius 0.20s ease-in;

  }
  .figure img:hover{
    border-radius: 20px;
  }


</style>