---

---

<section class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

    <h2 class="text-primary text-3xl font-bold sm:text-5xl flex gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-apps size-8 sm:size-12 opacity-75 stroke-primary" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
        <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
        <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
        <path d="M14 7l6 0" />
        <path d="M17 4l0 6" />
      </svg>
      Correcciones de estilo
    </h2>

    <article class="my-10 gap-3 justify-around sm:justify-center grid grid-cols-1 md:grid-cols-2 xl2:grid-cols-3">


      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/ciencias_sociales_vol1.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">Revista Colombiana de Ciencias Sociales</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            La “Revista Colombiana de Ciencias Sociales” es una publicación digital y semestral de carácter científico que divulga artículos, los cuales presentan resultados de investigaciones interdisciplinarias en ciencias sociales; se interesa en los estudios que abordan las problemáticas clásicas y contemporáneas con un sentido de pertinencia social. De este modo, espera contribuir al desarrollo de estas ciencias mediante el debate nacional e internacional en torno a desafíos epistemológicos, disciplinares y profesionales de carácter actual.
          </p>

          <a href="https://revistas.ucatolicaluisamigo.edu.co/index.php/RCCS/issue/view/197/233"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/ciencias_sociales_vol2.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">Revista Colombiana de Ciencias Sociales</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            La “Revista Colombiana de Ciencias Sociales” es una publicación digital y semestral de carácter científico que divulga artículos, los cuales presentan resultados de investigaciones interdisciplinarias en ciencias sociales; se interesa en los estudios que abordan las problemáticas clásicas y contemporáneas con un sentido de pertinencia social. De este modo, espera contribuir al desarrollo de estas ciencias mediante el debate nacional e internacional en torno a desafíos epistemológicos, disciplinares y profesionales de carácter actual.
          </p>

          <a href="https://revistas.ucatolicaluisamigo.edu.co/index.php/RCCS/issue/view/201/241"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/ciencias_solciales_vol1_1.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">Revista Colombiana de Ciencias Sociales</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            La “Revista Colombiana de Ciencias Sociales” es una publicación digital y semestral de carácter científico que divulga artículos, los cuales presentan resultados de investigaciones interdisciplinarias en ciencias sociales; se interesa en los estudios que abordan las problemáticas clásicas y contemporáneas con un sentido de pertinencia social. De este modo, espera contribuir al desarrollo de estas ciencias mediante el debate nacional e internacional en torno a desafíos epistemológicos, disciplinares y profesionales de carácter actual.
          </p>

          <a href="https://revistas.ucatolicaluisamigo.edu.co/index.php/RCCS/issue/view/191/227"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/perseitas_vol10.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">Perseitas</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            “Perseitas” es una publicación continua de acceso abierto. Tiene como objetivo difundir, de forma digital, las investigaciones, reflexiones teóricas y sistematizaciones en torno a la filosofía, la teología y los estudios humanísticos que aborden problemas religiosos, históricos, literarios, sociales, políticos o estéticos.
            Es financiada por la Universidad Católica Luis Amigó, que se ocupa de todos los costos de producción editorial, publicación y divulgación. Atendiendo a esto, Perseitas no cobra a los autores por ninguna actividad del proceso editorial ni por la publicación; tampoco genera retribuciones económicas a los autores que contribuyen a la revista ni a los miembros de los comités.
            Las decisiones y procedimientos se rigen por criterios de calidad académica, excelencia investigativa, integridad, honestidad y transparencia, por lo que se adhiere a los principios del Committee Of Publication Ethics (COPE).            
          </p>

          <a href="https://revistas.ucatolicaluisamigo.edu.co/index.php/perseitas/issue/view/182/223"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/perseitas_vol11.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">Perseitas</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            “Perseitas” es una publicación continua de acceso abierto. Tiene como objetivo difundir, de forma digital, las investigaciones, reflexiones teóricas y sistematizaciones en torno a la filosofía, la teología y los estudios humanísticos que aborden problemas religiosos, históricos, literarios, sociales, políticos o estéticos.
            Es financiada por la Universidad Católica Luis Amigó, que se ocupa de todos los costos de producción editorial, publicación y divulgación. Atendiendo a esto, Perseitas no cobra a los autores por ninguna actividad del proceso editorial ni por la publicación; tampoco genera retribuciones económicas a los autores que contribuyen a la revista ni a los miembros de los comités.
            Las decisiones y procedimientos se rigen por criterios de calidad académica, excelencia investigativa, integridad, honestidad y transparencia, por lo que se adhiere a los principios del Committee Of Publication Ethics (COPE).            
          </p>

          <a href="https://revistas.ucatolicaluisamigo.edu.co/index.php/perseitas/issue/view/192/234"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/encuentro.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">XXV Encuentro Nacional de Investigación</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            Mediante la publicación de estas memorias, resultado del XXV Encuentro Nacional de Investigación, Innovación y Creación Artística y Cultural, la Universidad Católica Luis Amigó continúa con su compromiso de divulgar el conocimiento científico derivado de la labor de estudiantes y docentes investigadores internos y externos que participan en diferentes proyectos y grupos de investigación. Los textos de la presente publicación evidencian el compromiso de cada autor en dar a conocer de manera rigurosa los tópicos centrales de los diferentes problemas construidos y surgidos a partir de la lectura de la realidad y sus fenómenos, y se constituyen en una fuente de oportunidad para aprender de experiencias previas y seguir contribuyendo a la solución de problemas sociales.            
          </p>

          <a href="https://editorial.ucatolicaluisamigo.edu.co/index.php/editorial/catalog/view/208/208/897"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

      <div class="flex items-stretch gap-4 item transition-colors duration-500 hover:bg-info hover:shadow-2xl rounded-lg p-1 sm:p-3 bloque">
        <img
          src="./img/memorias_de_eventos.webp"
          alt=""
          class="aspect-square w-[40%] sm:w-[150px] object-fill rounded-lg shadow-lg"
        />
      
        <div>
          <h3 class=" text-lg font-bold text-primary text-justify italic">Memorias de eventos Universidad Católica Luis Amigó. La ciencia como escritura</h3>
      
          <p class="mt-0.5 text-gray-700 text-justify line-clamp-5">
            La ciencia como escritura es la consigna que trazamos en el lanzamiento del Laboratorio de Escritura Científica – EscriLAB, con la presentación de siete estrategias de centros y programas de escritura de universidades latinoamericanas y nacionales. Estas memorias presentan una contribución en áreas de enseñanza de la escritura universitaria y la investigación pedagógica de la misma, así como para la orientación de trabajos de grado y tesis.
            La escritura y la ciencia tienen una relación de mutua dependencia, la primera es una invención tecnológica productora de evidencia y memoria, de la que se sirve la segunda para explicar y divulgar sus resultados en una comunidad científica. Del mismo modo, existe una ciencia del texto (sea alfabetización, literacidad, escrituralidad), que estudia la forma como las disciplinas transmiten sus teorías y nuevos conocimientos en la enseñanza y la apropiación social.                        
          </p>

          <a href="https://www.funlam.edu.co/uploads/fondoeditorial/787_Memorias_de_eventos_Universidad_Catolica_Luis_Amigo_La_ciencia_como_escritura.pdf"
          class="text-md table text-gray-500 font-semibold mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2"
          target="_blank"
          >Saber mas
        </a>
        </div>
      </div>

    </div>

    </article>
</section>

<style>


  .bloque{
 
   view-timeline-name: --reveal;
 
   animation-name: show;
   animation-fill-mode: both;
 
   animation-timeline: --reveal;
   animation-range: entry 25% cover 50%;
 
 
  }
 
 
     @keyframes show {
       from {
         opacity: 0; scale: 50%;
       }
 
       to {
         opacity: 1; scale: 100%;
       }
       
     }
 
 
   </style>