---


---

  <footer class="relative">

    <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">

      <!--menu -->
      <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">

        <li class="ul_sebas">
          <a href="#SobreMi">Sobre mí</a>
        </li>

        <li class="ul_sebas">
          <a href="#Servicios">Servicios</a>
        </li>

        <li class="ul_sebas">
          <a href="#Portafolio">Portafolio</a>
        </li>

        <li class="ul_sebas">
          <a href="mailto:sebastian.alvarez.diaz@outlook.com">Contácteme</a>
        </li>
  
      </ul>

  
      <!--texto-->
      <p class="mx-auto my-6 max-w-md leading-relaxed text-xl text-center text-white" id="parrafo">
        Gracias por llegar hasta acá, puedes contactarme por las siguientes redes sociales.
      </p>


      <!--redes cv -->
      <div class="flex items-center justify-center gap-2 mx-auto py-2">

        <div class="group relative inline-block">

          <a href="#" class="focus:outline-none">
    
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin w-8 sm:w-12 hover:scale-110 stroke-info" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
              <path d="M8 11l0 5" />
              <path d="M8 8l0 .01" />
              <path d="M12 16l0 -5" />
              <path d="M16 16v-3a2 2 0 0 0 -4 0" />
            </svg>
    
          </a>
          <a href="#"
            class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 z-20 px-4 py-2 text-sm font-bold text-black bg-info rounded-lg shadow-lg transition-transform duration-300 ease-in-out scale-0 group-hover:scale-75 sm:group-hover:scale-100"
            >Linkedind
          </a>
        </div>


        <div class="group relative inline-block">

          <a href="mailto:sebastian.alvarez.diaz@outlook.com" class="focus:outline-none">
    
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail hover:scale-110 w-8 sm:w-12 stroke-info"  viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
              <path d="M3 7l9 6l9 -6" />
            </svg>
    
          </a>
          <a href="mailto:sebastian.alvarez.diaz@outlook.com"
            class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 z-20 px-4 py-2 text-sm font-bold text-black bg-info rounded-lg shadow-lg transition-transform duration-300 ease-in-out scale-0 group-hover:scale-75 sm:group-hover:scale-100"
            >sebastian.alvarez.diaz@outlook.com
        </a>
        </div>


        <a href="img/sebas.webp" download
          class="group flex items-center justify-start w-36 h-10 bg-info rounded-md cursor-pointer relative overflow-hidden transition-all duration-700 shadow-lg hover:translate-x-2"
        >
          <div
            class="flex items-center justify-center w-full transition-all duration-300 group-hover:justify-start group-hover:px-3 fill-black"
          >
            <svg class="w-4 h-4" viewBox="0 0 512 512" >
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
              ></path>
            </svg>
          </div>
          <div
            class="absolute right-5 transform translate-x-full opacity-0 text-black text-sm font-semibold transition-all duration-400 group-hover:translate-x-0 group-hover:opacity-100"
          >
            Descargar CV
          </div>
        </a>

    
      </div>

      <!--home -->
      <span class="absolute end-4 top-4 sm:end-6 sm:top-6 lg:end-8 lg:top-8">
        <a
          class="inline-block rounded-full bg-primary p-2 text-white shadow transition hover:bg-veig sm:p-3 lg:p-4"
          href="#Inicio"
        >
          <span class="sr-only">Back to top</span>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </span>


    </div>


    <div class="pt-6">
      <p class="text-center text-xs/relaxed text-gray-500">
        &copy; 2024 Sebastián. Casi todos los derechos reservados.
    </p>
    </div>

  </footer>

  <style>

    footer{
      background-image: url(./img/escribir.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.80;
      mask-image: linear-gradient(bottom to, black, transparent);

      #parrafo{
        filter: drop-shadow(1px 1px 3px black);
      }
    }

    .ul_sebas {
      font-size: 18px;
      color: #f2c879;
      font-family: inherit;
      font-weight: 800;
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
      text-transform: uppercase;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;
      text-shadow: 0px 0px 2px #0d0d0d;
    }
  
    .ul_sebas:focus,
    .ul_sebas:hover {
      color: #fff;
      text-shadow: none;
    }
  
    .ul_sebas:focus:after,
    .ul_sebas:hover:after {
      width: 100%;
      left: 0%;
    }
  
    .ul_sebas:after {
      content: "";
      pointer-events: none;
      bottom: -2px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #f2c879;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
    }
  
  </style>