---

---

<!-- Modal -->
<div id="imageModal" class="fixed inset-0 bg-black hidden bg-opacity-75 items-center justify-center">
    <div class="relative">
        <img id="modalImage" src="" alt="Imagen ampliada" class="h-[650px] rounded-lg shadow-2xl py-10">
        <button class="absolute right-4 top-10 text-black text-4xl z-10 font-bold">&times;</button>
    </div>
</div>