---
interface Props {
  img: string;
}

const { img } = Astro.props
---
<header class="relative" id="Inicio">

  <nav class="mx-auto right-0 left-0 z-10 p-3 sm:px-6 lg:px-8 fixed transition-all duration-300 shadow-md shadow-black/25 bg-[#00000017] max-w-screen-xl" id="navbar">
    <div class="flex h-12 items-center justify-between">

      <span class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="/">
          <img 
          src={img} 
          alt="Logo Sebastián Álvarez Díaz"
          class="w-10 h-10 rounded-md"
          >
        </a>
      </span>

      <div class="hidden md:block">
        <nav aria-label="Global">

          <ul class="flex items-center gap-8 text-md">


            <li class="ul_sebas">
              <a href="#SobreMi">Sobre mí</a>
            </li>

            <li class="ul_sebas">
              <a href="#Servicios">Servicios</a>
            </li>

            <li class="ul_sebas">
              <a href="#Portafolio">Portafolio</a>
            </li>

            <li class="ul_sebas">
              <a href="mailto:sebastian.alvarez.diaz@outlook.com">Contácteme</a>
            </li>

          </ul>

        </nav>
      </div>

        
      <div class="block md:hidden">
        <button class="rounded bg-primary p-2 text-white transition hover:text-info hover:scale-120 hover:bg-secondary" id="buttonMobile">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      
    </div>
  </nav>

  <nav>

    <!--navbar mobile-->
    <div class="relative">
      <nav aria-label="Global absolute" class="hidden fixed top-20 right-0  z-10 rounded-md w-40 bg-primary" id="menuMobile">

        <ul class="text-md text-center">

          <li>
            <a
              href="#SobreMi"
              class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-white transition-colors duration-300 hover:border-info hover:bg-veig hover:text-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5 opacity-75"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
        
              <span class="text-md font-medium"> Sobre mí </span>
            </a>
          </li>

          <li>
            <a
              href="#Servicios"
              class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-white transition-colors duration-300 hover:border-info hover:bg-veig hover:text-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5 opacity-75"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
        
              <span class="text-md font-medium"> Servicios </span>
            </a>
          </li>

          <li>
            <a
              href="#Portafolio"
              class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-white transition-colors duration-300 hover:border-info hover:bg-veig hover:text-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5 opacity-75"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
        
              <span class="text-md font-medium"> Portafolio </span>
            </a>
          </li>
          
          <li>
            <a
              href="mailto:sebastian.alvarez.diaz@outlook.com"
              class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-white transition-colors duration-300 hover:border-info hover:bg-veig hover:text-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5 opacity-75"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
        
              <span class="text-md font-medium"> Contácteme </span>
            </a>
          </li>
          
        </ul>

      </nav>
    </div>

  </nav>
</header>

<style>

  .ul_sebas {
    display: flex;
    gap: 5px 10px;
    font-size: 18px;
    color: #f2c879;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-shadow: 0px 0px 2px #0d0d0d;
    padding: 5px;
  }
  
  .ul_sebas:focus,
  .ul_sebas:hover {
    color: #593f2f;
    text-shadow: none;
  }
  
  .ul_sebas:focus:after,
  .ul_sebas:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .ul_sebas:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #f2c879;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
</style>

<script>

  let prevScrollpos = window.pageYOffset;
  
  window.onscroll = function () {
    let currentScrollPos = window.pageYOffset;
    let navbar = document.getElementById("navbar");
  
    if(navbar === null) throw new Error("error: menu")
  
    if (prevScrollpos > currentScrollPos) {
      navbar.style.top = "0px";
    } else {
      navbar.style.top = `-${navbar.clientHeight + 10}px`;
    }
  
    prevScrollpos = currentScrollPos;
  };

  document.getElementById("buttonMobile")?.addEventListener('click', function(e){
    e.preventDefault();

    let view = document.getElementById("menuMobile");
    view?.classList.toggle("hidden");
    

  })
  
  </script>