---
interface Props {
  img: string;
}

const { img } = Astro.props
---
<header class="relative" id="Inicio">

  <div class="mx-auto right-0 left-0 z-10 p-3 sm:px-6 lg:px-8 fixed transition-all duration-300 shadow-md shadow-black/25 bg-[#00000017]" id="navbar">
    <div class="flex h-12 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="/">
          <img 
          src={img} 
          alt="Logo Sebastián Álvarez Díaz"
          class="w-10 h-10 rounded-md"
          >
        </a>
      </div>

      <div class="hidden md:block">
        <nav aria-label="Global">

          <ul class="flex items-center gap-8 text-md">


            <li class="ul_sebas">
              <a href="#SobreMi">Sobre mí</a>
            </li>

            <li class="ul_sebas">
              <a href="#Servicios">Servicios</a>
            </li>

            <li class="ul_sebas">
              <a href="#Portafolio">Portafolio</a>
            </li>

            <li class="ul_sebas">
              <a href="#">Contácteme</a>
            </li>

          </ul>

        </nav>
      </div>

        
      <div class="block md:hidden">
        <button class="rounded bg-primary p-2 text-white transition hover:text-info hover:scale-120 hover:bg-secondary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

      
    </div>
  </div>
</header>

<style>

  .ul_sebas {
    font-size: 18px;
    color: #f2c879;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-shadow: 0px 0px 2px #0d0d0d;
  }
  
  .ul_sebas:focus,
  .ul_sebas:hover {
    color: #593f2f;
    text-shadow: none;
  }
  
  .ul_sebas:focus:after,
  .ul_sebas:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .ul_sebas:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #f2c879;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
</style>

<script>

  let prevScrollpos = window.pageYOffset;
  
  window.onscroll = function () {
    let currentScrollPos = window.pageYOffset;
    let navbar = document.getElementById("navbar");
  
    if(navbar === null) throw new Error("error: menu")
  
    if (prevScrollpos > currentScrollPos) {
      navbar.style.top = "0px";
    } else {
      navbar.style.top = `-${navbar.clientHeight + 10}px`;
    }
  
    prevScrollpos = currentScrollPos;
  };
  
  </script>