---

---


<section class="text-black" id="Portafolio">

    <div class="mx-auto max-w-screen-xl px-10 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

        <h2 class="text-primary text-3xl font-bold sm:text-4xl">Explora mi portafolio!</h2>

        <article class="group md:flex my-10 rounded-md transition-colors duration-500 hover:bg-info hover:shadow-2xl p-4">
        
          <div class="p-4 md:max-w-[80%]">
            <a href="#">
              <h3 class="text-lg font-bold text-primary">Finding the Journey to Mordor</h3>
            </a>

            <span class="text-sm text-info bg-primary px-2 py-1 rounded-lg shadow-lg">Nobre de la empresa</span>
        
            <p class="w-full sm:w-10/12 mt-2 line-clamp-3 text-sm/relaxed text-black text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
              pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis quidem,
              mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
              dignissimos. Molestias explicabo corporis voluptatem?
            </p>

            <a href="#" class="text-sm text-gray-500 font-semibold block mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2">Leer mas...</a>
          </div>

          <img
            alt="imagen de trabajo realizado"
            src="./img/maquina_1.jpg"
            class="h-56 w-full rounded-lg object-cover shadow-xl transition group-hover:grayscale-[50%]"
          />

        </article>

        <article class="group md:flex my-10 rounded-md transition-colors duration-500 hover:bg-info hover:shadow-2xl p-4">
        
          <div class="p-4 md:max-w-[80%]">
            <a href="#">
              <h3 class="text-lg font-bold text-primary">Finding the Journey to Mordor</h3>
            </a>

            <span class="text-sm text-info bg-primary px-2 py-1 rounded-lg shadow-lg">Nobre de la empresa</span>
        
            <p class="w-full sm:w-10/12 mt-2 line-clamp-3 text-sm/relaxed text-black text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
              pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis quidem,
              mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
              dignissimos. Molestias explicabo corporis voluptatem?
            </p>

            <a href="#" class="text-sm text-gray-500 font-semibold block mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2">Leer mas...</a>
          </div>

          <img
            alt="imagen de trabajo realizado"
            src="./img/maquina_1.jpg"
            class="h-56 w-full rounded-lg object-cover shadow-xl transition group-hover:grayscale-[50%]"
          />

        </article>
  
        <article class="group md:flex my-10">
        
          <div class="m-4 p-4 md:max-w-[80%] rounded-lg transition-colors duration-500 hover:bg-info hover:shadow-2xl">
            <a href="#">
              <h3 class="text-lg font-bold text-primary">Finding the Journey to Mordor</h3>
            </a>

            <span class="text-sm text-info bg-primary px-2 py-1 rounded-lg shadow-lg">Nobre de la empresa</span>
        
            <p class="w-full sm:w-10/12 mt-2 line-clamp-3 text-sm/relaxed text-black text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
              pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis quidem,
              mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
              dignissimos. Molestias explicabo corporis voluptatem?
            </p>

            <a href="#" class="text-sm text-gray-500 font-semibold block mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2">Leer mas...</a>
          </div>

          <img
            alt="imagen de trabajo realizado"
            src="./img/maquina_1.jpg"
            class="h-56 w-full rounded-md object-cover shadow-xl transition group-hover:grayscale-[50%]"
          />

        </article>
  
        <article class="group md:flex my-10">

          <img
            alt="imagen de trabajo realizado"
            src="./img/maquina_1.jpg"
            class="h-56 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
          />
        
          <div class="p-4 md:max-w-[80%]">
            <a href="#">
              <h3 class="text-lg font-bold text-primary">Finding the Journey to Mordor</h3>
            </a>

            <span class="text-sm text-gray-500">Nobre de la empresa</span>
        
            <p class="w-full sm:w-10/12 mt-2 line-clamp-3 text-sm/relaxed text-black text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
              pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis quidem,
              mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
              dignissimos. Molestias explicabo corporis voluptatem?
            </p>

            <a href="#" class="text-sm text-gray-500 font-semibold block mt-4 transition-transform duration-200 hover:text-black hover:translate-x-2">Leer mas...</a>
          </div>

        </article>

    </div>
  </section>