---

---

<section class="text-black" id="Servicios">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

      <div class="max-w-lg my-10">

        <h2 class="text-primary text-3xl font-bold sm:text-5xl flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          </svg>
          Mis servicios!
        </h2>
  
        <p class="mt-4 text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam architecto consequatur minus odio facilis aperiam totam ipsa culpa earum corporis, tempore, reiciendis sapiente explicabo impedit rerum. Ex adipisci sed eos? 
        </p>

      </div>
  

      <!--services one-->
      <div class="flex overflow-scroll overflow-y-hidden p-3 gap-4 lg:justify-around" style="scrollbar-color: #593f2f transparent;">
        
        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 border border-veig  bg-[#8d8882] flex flex-col items-start gap-2 transition-all duration-300 group hover:bg-[#0d0d0d] hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-black group-hover:stroke-info m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info m-auto">
          WEBSITE SEO
        </p>
        <p class="text-black text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end hidden md:block group-hover:stroke-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>

        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 border border-veig  bg-[#8d8882] flex flex-col items-start gap-2 transition-all duration-300 group hover:bg-[#0d0d0d] hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-black group-hover:stroke-info m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info m-auto">
          WEBSITE SEO
        </p>
        <p class="text-black text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end hidden md:block group-hover:stroke-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>

        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 border border-veig  bg-[#8d8882] flex flex-col items-start gap-2 transition-all duration-300 group hover:bg-[#0d0d0d] hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-black group-hover:stroke-info m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info m-auto">
          WEBSITE SEO
        </p>
        <p class="text-black text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end hidden md:block group-hover:stroke-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>

        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 border border-veig  bg-[#8d8882] flex flex-col items-start gap-2 transition-all duration-300 group hover:bg-[#0d0d0d] hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-black group-hover:stroke-info m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info m-auto">
          WEBSITE SEO
        </p>
        <p class="text-black text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end hidden md:block group-hover:stroke-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>


      </div>




      <!--services two-->
      <div class="flex flex-wrap justify-between m-auto gap-6 py-5" >
        
        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-lg cursor-pointer snap-start shrink-0 py-8 px-6 flex flex-col items-start gap-2 transition-all duration-300 border border-veig  group bg-[#0d0d0d] hover:bg-veig  hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-info group-hover:text-primary m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info m-auto">
          WEBSITE SEO
        </p>
        <p class="text-gray-300 text-sm text-justify group-hover:text-black">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f2c879" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>

        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-lg cursor-pointer snap-start shrink-0 py-8 px-6 flex flex-col items-start gap-2 transition-all duration-300 border border-veig  group bg-[#0d0d0d] hover:bg-veig  hover:border-primary"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-veig group-hover:stroke-primary m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info  m-auto">
          WEBSITE SEO
        </p>
        <p class="text-gray-300 text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end group-hover:stroke-primary" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bfb3a4" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>

        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-lg cursor-pointer snap-start shrink-0 py-8 px-6 flex flex-col items-start gap-2 transition-all duration-300 border border-[#a99d8e]  group bg-[#a99d8e] hover:bg-[#0d0d0d]  hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-primary group-hover:stroke-info m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-primary group-hover:text-info  m-auto">
          WEBSITE SEO
        </p>
        <p class="text-black text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end hidden md:block group-hover:stroke-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#593f2f" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>

        <div
        class="flex-1 md:flex-none service-card size-[250px] min-w-[200px] md:min-w-[250px] rounded-md shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 border border-veig  bg-[#8d8882] flex flex-col items-start gap-2 transition-all duration-300 group hover:bg-[#0d0d0d] hover:border-info"
      >
        <svg
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="#000000"
          fill="none"
          viewBox="0 0 24 24"
          class="text-5xl h-12 w-12 stroke-black group-hover:stroke-info m-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
          <line y2="21" x2="16" y1="21" x1="8"></line>
          <line y2="21" x2="12" y1="17" x1="12"></line>
        </svg>
      
        <p class="font-bold text-1xl text-info m-auto">
          WEBSITE SEO
        </p>
        <p class="text-black text-sm text-justify group-hover:text-white">
          Website ravida surna eveti semen the conse tusio anivite dianne one nivam.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-heart text-3xl font-bold self-end hidden md:block group-hover:stroke-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0d0d0d" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 11l1.5 -1.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4l2 -2" />
          <path d="M13.5 6.5l4 4" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        </div>


      </div>
  
    </div>
  </section>