---

---

<section class="text-black" id="Servicios">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
  >

    <!-- secion de los servicions -->
    <section>
      <div class="mx-auto py-12 overflow-hidden">
        <div class="items-end justify-between sm:flex">
          <div>
            <h2 class="text-4xl text-primary font-bold sm:text-5xl flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-apps size-8 sm:size-12 opacity-75 stroke-primary"
                viewBox="0 0 24 24"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                ></path>
                <path
                  d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                ></path>
                <path
                  d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                ></path>
                <path d="M14 7l6 0"></path>
                <path d="M17 4l0 6"></path>
              </svg>
              Mis servicios
            </h2>

            <p class="mt-10 text-lg max-w-3xl text-justify">
              Con los años, el libro se ha promulgado como bien de consumo que
              tiene una doble dimensión, comercial y cultural, debido no solo a
              la reducción de sus costos de producción, sino a que sus
              posibilidades de perdurar aumentaron de manera significativa, a
              causa de que los materiales que se usan en su fabricación
              favorecen que se conserve mejor y por más tiempo. Por eso, la
              curaduría editorial consiste en el despliegue de una serie de
              tareas sobre el manuscrito original para convertirlo en un <span
                id="italica">objeto de percepción</span
              >; es decir, en enriquecer el contenido de la obra a través del
              dominio de pequeñas unidades de información interrelacionadas con
              otras unidades mayores, lo cual demanda bastante atención al
              detalle: tiempo y esfuerzos compartidos por varias personas que
              intervienen en la decantación del texto que ha de llegar a manos
              de los lectores.
            </p>
          </div>

          <div class="flex gap-4 lg:mt-0">
            <button
              aria-label="Previous slide"
              id="keen-slider-previous"
              class="rounded-full border border-primary p-3 text-black transition hover:bg-info hover:text-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 rtl:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 19.5L8.25 12l7.5-7.5"></path>
              </svg>
            </button>

            <button
              aria-label="Next slide"
              id="keen-slider-next"
              class="rounded-full border border-primary p-3 text-black transition hover:bg-info hover:text-primary"
            >
              <svg
                class="size-5 rtl:rotate-180"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 5l7 7-7 7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path>
              </svg>
            </button>
          </div>
        </div>

        <div class="-mx-6 mt-8 lg:col-span-2 lg:mx-0">
          <div id="keen-slider" class="keen-slider">

            <div class="keen-slider__slide cursor-grab">
              <blockquote
                class="flex flex-col justify-between shadow-xs sm:p-4"
              >
                <div>

                  <div class="mt-4">
                    <p class="text-3xl font-bold text-primary sm:text-4xl">
                      Gestión editorial
                    </p>

                    <p class="mt-4 leading-relaxed text-justify text-md text-gray-700 h-[300px] overflow-x-hidden overflow-y-scroll">
                      La edición como proceso comprende la realización de una serie de tareas relacionadas con los componentes textual, gráfico y de producción, lo cual determina algunas de las funciones que deben desarrollarse en una editorial para producir los libros y demás publicaciones que conforman la oferta que esta pone a disposición del mercado. El editor en jefe tiene que entenderse con profesionales que cumplen diferentes funciones que forman parte del cuidado editorial y cuya intervención representa una contribución fundamental a su desarrollo. <br>
                      <tab></tab>La coordinación del proceso de edición de los títulos supone, para el editor en jefe, la definición del plan editorial, la redacción de la ficha descriptiva de la colección y el diseño detallado tanto de la maqueta como de la hoja de estilo, así como la asignación de tareas a quienes ejercen las diferentes funciones que lo conforman, la definición de plazos y el seguimiento tanto a la ejecución de las primeras como al cumplimiento de las segundas.    
                    </p>
                  </div>
                </div>
            </div>

            <div class="keen-slider__slide cursor-grab">
              <blockquote
                class="flex flex-col justify-between shadow-xs sm:p-4"
              >
                <div>

                  <div class="mt-4">
                    <p class="text-3xl font-bold text-primary sm:text-4xl">
                      Edición de mesa
                    </p>

                    <p class="mt-4 leading-relaxed text-justify text-md text-gray-700 h-[300px] overflow-x-hidden overflow-y-scroll">
                      Un proceso de edición consecuente, culminado en el sentido pleno de la palabra, es fundamental y determinante si se desea obtener una obra con pulcritud. Si el editor durante el desempeño de su oficio se ocupa con suficiencia, esmero, criterio y orden, conseguirá que en sus ediciones forma y fondo sean un complemento indisociable. Para lograrlo, debe entregarse al original para conocer su estructura lógica, observar la adecuación a las competencias de los lectores, determinar el nivel de intervención de la corrección sintáctica y ortográfica, advertir la precisión de los datos expuestos, la correspondencia de la maqueta y la calidad intrínseca del texto.    
                    </p>
                  </div>
                </div>
            </div>

            <div class="keen-slider__slide cursor-grab">
              <blockquote
                class="flex flex-col justify-between shadow-xs sm:p-4"
              >
                <div>

                  <div class="mt-4">
                    <p class="text-3xl font-bold text-primary sm:text-4xl">
                      Corrección de estilo
                    </p>

                    <p class="mt-4 leading-relaxed text-justify text-md text-gray-700 h-[300px] overflow-x-hidden overflow-y-scroll">
                      Corregir los originales tiene que ver especialmente con los aspectos ortográfico, gramatical y de ajustes a la norma académica o científica, prestando especial atención a la pauta de la editorial o entidad contratante y sin dejar de lado algunas intervenciones que incrementan la calidad en los demás aspectos: mejoras eventuales, pero imprescindibles, sugeridas por mor de la claridad, comprensibilidad o precisión del texto a fin de incrementar la efectividad del estilo personal conforme al cual el autor ha escrito su trabajo.    
                    </p>
                  </div>
                </div>
            </div>

          </div>
        </div>

      </div>
    </section>
  </div>
</section>
