---
---


<section class="text-black" id="SobreMi">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

      <div class="text-center mx-auto">

        <h2 class="text-primary text-3xl font-bold sm:text-5xl flex gap-2  sm:justify-center">
          Sobre mí
        </h2>

        <article class="flex gap-3 mx-auto sm:justify-center">

          <figure>
            <img 
            src="./img/sebas.webp" 
            alt="Sebastián Álvarez Díaz"
            class="hidden md:block w-60 object-cover">
          </figure>

          <p class="mt-10 text-lg text-justify max-w-md">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vitae dignissimos quo, animi iste dolorem natus eaque possimus magnam temporibus enim, odio nisi sed, et ab tempora sapiente. Harum, iure. <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>A vitae dignissimos quo, animi iste dolorem natus eaque possimus magnam temporibus enim, odio nisi sed, et ab tempora sapiente. Harum, iure.
          </p>

        </article>
  


      </div>

  
    </div>
  </section>
  <style>
    img{
      mask-image: linear-gradient(to bottom, black, transparent);
    }
  </style>