---
---


<section class="text-black" id="SobreMi">
    <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

      <div class="text-center mx-auto">

        <h2 class="text-primary text-3xl font-bold sm:text-5xl flex gap-2  sm:justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book size-8 sm:size-12 opacity-75 stroke-primary" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6l0 13" />
            <path d="M12 6l0 13" />
            <path d="M21 6l0 13" />
          </svg>
          Sobre mí
        </h2>

        <article class="sm:justify-center">

          <p class="mt-10 sm:mx-auto text-xl text-justify max-w-xl">
            Filósofo de profesión con formación en gestión editorial, edición y corrección de estilo. Tengo la capacidad de dirigir las etapas de producción editorial y velar por que cada instancia del proceso cuente con los recursos necesarios para que las actividades de la curaduría editorial se lleven a cabo con la mayor eficiencia y calidad posibles. <br>
            Me apasiona conocer el conjunto de rasgos lingüísticos mediante los cuales se expresa un autor, las características ortográficas, ortotipográficas, tipográficas, lógicas y estéticas que identifican los productos de los sellos editoriales y el cuidado de textos científicos, académicos y literarios.
          </p>

        </article>
      </div>
  
    </div>
  </section>