---
---


<section class="text-black" id="SobreMi">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

      <div class="max-w-lg text-center mx-auto">

        <h2 class="text-primary text-3xl font-bold sm:text-4xl">Sobre mí</h2>
  
        <p class="mt-4 text-lg text-justify">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vitae dignissimos quo, animi iste dolorem natus eaque possimus magnam temporibus enim, odio nisi sed, et ab tempora sapiente. Harum, iure. <br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>A vitae dignissimos quo, animi iste dolorem natus eaque possimus magnam temporibus enim, odio nisi sed, et ab tempora sapiente. Harum, iure.
        </p>

      </div>

  
    </div>
  </section>