---
---


<section class="text-black" id="SobreMi">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">

      <div class="text-center mx-auto">

        <h2 class="text-primary text-3xl font-bold sm:text-5xl flex gap-2  sm:justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book size-8 sm:size-12 opacity-75 stroke-primary" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6l0 13" />
            <path d="M12 6l0 13" />
            <path d="M21 6l0 13" />
          </svg>
          Sobre mí
        </h2>

        <article class="sm:justify-center">

          <p class="mt-10 sm:mx-auto text-lg text-justify max-w-md">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A vitae dignissimos quo, animi iste dolorem natus eaque possimus magnam temporibus enim, odio nisi sed, et ab tempora sapiente. Harum, iure. <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>A vitae dignissimos quo, animi iste dolorem natus eaque possimus magnam temporibus enim, odio nisi sed, et ab tempora sapiente. Harum, iure.
          </p>

        </article>
  


      </div>

  
    </div>
  </section>