---
// Supports weights 400-800
import '@fontsource-variable/eb-garamond';
import Metas from '@/components/Metas.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/avif" href="/favico.avif" />
		<title>{title}</title>
		<Metas 
			title={title}
			description="Profesional en filosofía con formación en gestión editorial y corrección de estilo. Tengo la capacidad de dirigir las etapas de producción editorial, velando por que cada instancia del proceso cuente con los recursos necesarios para que las actividades del cuidado editorial se lleven a cabo con la mayor eficiencia y calidad posibles. Debido a mi inclinación hacia la lingüística, centré el interés en el conjunto de normas y principios que rige la lengua castellana, lo cual me llevó a formarme como corrector de textos académicos y literarios"
		/>

		<link rel="stylesheet" href="./css/styles.css">

		<!--link y eventos para el carrusel de services -->
		<link
			href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css"
			rel="stylesheet"
		/>
		<script type="module">
		import KeenSlider from "https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm";

		const keenSlider = new KeenSlider(
			"#keen-slider",
			{
			loop: false,
			slides: {
				origin: "center",
				perView: 1.25,
				spacing: 16,
			},
			breakpoints: {
				"(min-width: 1024px)": {
				slides: {
					origin: "auto",
					perView: 2.5,
					spacing: 32,
				},
				},
			},
			},
			[]
		);

		const keenSliderPrevious = document.getElementById(
			"keen-slider-previous"
		);
		const keenSliderNext = document.getElementById("keen-slider-next");

		keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
		keenSliderNext.addEventListener("click", () => keenSlider.next());
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	
	:root{
		scroll-behavior: smooth;
		background-color: #bfb3a4;
		--setex: font-family: 'EB Garamond Variable', serif;

	}
	
	*{
		font-family: var(--setex) !important;
		scrollbar-color:#f2c879 #bfb3a4;
	}

	.entrada_text {
		animation: entrada_text 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}

	.entrada_text2 {
		animation: entrada_text2 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}

	#italica {
		font-style: italic;
	}

	tab{
		padding-left: 1em;
	}


	@keyframes entrada_text { 
		0% {
			letter-spacing: -0.9em;
			opacity: 0;
		}
		40% {
			opacity: 0.6;
		}
		100% {
			opacity: 1;
		}
	}


	@keyframes entrada_text2 {
		0% {
			letter-spacing: 1em;
			opacity: 0;
		}
		40% {
			opacity: 0.6;
		}
		100% {
			letter-spacing: normal;
			opacity: 1;
		}
	}

	.bloque{
		
		view-timeline-name: --reveal;

		animation-name: show;
		animation-fill-mode: both;

		animation-timeline: --reveal;
		animation-range: entry 25% cover 50%;
	}


	@keyframes show {
		from {
		opacity: 0; scale: 50%;
		}

		to {
		opacity: 1; scale: 100%;
		}
		
	}


</style>
